#buttonSummaryHome {
    min-width: 26vw;
}

.homeField {
    min-width: 26vw;
}

#methodPlaceHome {
    min-width: calc(26vw + 4rem);
}

#buttonHome{
    font-size: 2rem;
    width: 100%;
    height: auto;
    padding: 2rem 7rem;
    margin-bottom: 1rem;
}

#frusionName{
    padding-bottom: 1rem;
    font-size:2.5rem;
    color: #351431;
    letter-spacing: 0.6rem;
    text-transform: capitalize;
}

.transparent-field {
    display: flex;
    min-width: calc(10vw + 19rem);
    justify-content: center;
    align-items: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 20rem;
    width: calc(100% - 20rem);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
}


.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9E9E9;
    border-radius: 2.5rem;
    padding: 3rem;
    min-height: 50vh;
    min-width: 20vw;
    gap: 1.5rem;
}

.titleModal{
    font-size: 2rem;
    color:#351431;
}

.buttonsModal{
    display: flex;
    flex-direction: column;
    gap:1rem;
}

@media screen and (max-width: 1372px){
    #methodPlaceHome {
      min-width: calc(45vw + 4rem);
    }
    .homeField{
        width: calc(45vw + 4rem);
    }
  } 


@media screen and (max-width: 900px){
    #methodPlaceHome {
      min-width: calc(65vw + 4rem);
    }
    .homeField{
        width: calc(65vw + 4rem);
    }
} 

@media screen and (max-width: 640px){
    #buttonHome{
        font-size: 1.5rem;
        padding: 1.5rem;
    }

    #frusionName{
        display: none;
    }
} 

@media screen and (max-width: 400px){
    #buttonHome{
        font-size: 1.3rem;
        font-weight: 700;
        padding: 1rem;
    }

    #frusionName{
        display: none;
    }
} 
