.captionButton{
    color: #351431;
}

.logoWithName{
    justify-content: center;
}


.buttonArrow{
    align-items: center;
    height: 12vh;
    justify-content: right;
}

.captionButton{
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.buttonPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 3rem;
    color: #E9E9E9;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    outline: none;
    background: linear-gradient(135deg, #775253 0%, #351431 100%);
    cursor: pointer;
    transition: 0.2s;
    border-radius: 2.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 2.5rem;
    padding: 0;
}

.buttonPanel svg {
    width: 100%;
    height: 100%;
}

.left{
    justify-content: left;
    min-width: 10vw;
}

.middle{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.right{
    justify-content: right;
    width:20vw;
    min-width: 23rem;
}

.rightRegistration{
    justify-content: right;
    width:12vw;
    min-width: 13em;
}

@media screen and (max-width: 900px) {
    .right
    {
        width: 48vw;
        min-width: 15rem;
    }

    #titlePanelRegistration{
        margin-top: 4rem;
    }

}


@media screen and (max-width: 640px) {
    .right
    {
        width: 67vw;
    }

    .captionButton{
        font-size: 1.5rem;
    }

}