.summaryField{
    display: flex;
    flex-direction: column;
    width: 26vw;
    padding: 1rem 2rem;
    min-width: 15em;
}

#statusSummaryField{
    display: flex;
    flex-direction: column;
    min-width: 25vw;
}

.transaction {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
}

.valueTransactions, .priceSummary, .boxesSummary{
    display: flex;

}

.price, .box, .typeBox{
    margin-left:0.5rem;
}

.weight{
    margin-right: 0.5rem;
}

.price, .nominal, .box, .typeBox{
    color: #9A9A9A;
    font-weight: 400;
}

.nameFruit{
    margin-bottom: 1rem;
    font-weight: 650;
}

.valueTransactions, .nameFruit{
    font-size: 1.6rem;
}

.valueTransactions{
    margin-right: 1rem;
}


@media screen and (max-width: 1342px){
    .summaryField {
      width:45vw;
    }
} 

@media screen and (max-width: 900px){
    .summaryField {
      width:65vw;
    }
} 

@media screen and (max-width: 640px){
    .nameFruit, .valueTransactionWeight {
      font-size: 1.3rem;
    }

    .parametersSummary{
        font-size: 1rem;
    }

    .summaryField{
        min-width:calc(65vw + 2rem)
    }

} 

@media screen and (max-width: 400px){
    .nameFruit, .valueTransactionWeight {
      font-size: 1rem;
    }

    .parametersSummary{
        font-size: 0.8rem;
    }

    .titleSummary{
        font-size: 1.3rem;
    }

} 