.weightPriceTransaction, .valueTransaction, .priceTransaction, .boxesTransaction, .valueTransactionWeight{
    display: flex;
}

.valueTransaction, .weightTransaction, .quantityBox, .price{
    margin-right:0.5rem;
}

.multiplier, .priceTransaction{
    margin-left:0.5rem;
}

.priceTransaction, .boxesTransaction, .nameFruitTransaction{
    font-size: 1.2rem;
}

.weightPriceTransaction{
    align-items:baseline;
}

.priceTransaction, .priceTransaction, .boxesTransaction, .nameFruitTransaction{
    color: #9A9A9A;
}

.priceTransaction, .priceTransaction, .boxesTransaction{
    font-weight: 400;
}

.nameFruitValueTransaction{
    display: flex;
    flex-direction: column;
    align-items:end;
}

.featuredFieldValueTransaction{
    min-width: 10vw;
    max-width: 7rem;
    font-size: 1.6rem;
    font-weight: 550;
}

.nameFruitTransaction{
    margin-right: 1.5rem;
}

.parameters{
    min-width: 13rem;
}

@media screen and (max-width: 1372px){
    .featuredFieldValueTransaction{
        min-width: 15vw;
    }
} 

@media screen and (max-width: 900px){
    .featuredFieldValueTransaction{
        min-width: 20vw;
    }
} 

@media screen and (max-width: 640px){
    .weightPriceTransaction, .nameTransactionList, .featuredFieldValueTransaction{
        font-size: 1.3rem;
    }

    .priceTransaction, .boxesTransaction, .nameFruitTransaction{
        font-size: 1rem;
    }

    .parameters{
        min-width:11.5rem;
    }

    .featuredFieldValueTransaction{
        padding: 1rem;
    }
} 


@media screen and (max-width: 400px){
    .weightPriceTransaction, .nameTransactionList, .featuredFieldValueTransaction{
        font-size: 1rem;
    }

    .priceTransaction, .boxesTransaction, .nameFruitTransaction{
        font-size: 0.8rem;
    }

    .parameters{
        min-width:11.5rem;
    }

    .nameFruitTransaction{
        margin-right: 0.5rem;
    }

    .featuredFieldValueTransaction{
        padding: 0.5rem;
    }
} 