.weightPriceTransaction, .valueTransaction, .priceTransaction, .boxesTransaction{
    display: flex;
}

.valueTransaction, .weightTransaction, .quantityBox, .price{
    margin-right:0.5rem;
}

.multiplier, .priceTransaction{
    margin-left:0.5rem;
}

.priceTransaction, .boxesTransaction, .nameFruitTransaction{
    font-size: 1.2rem;
}

.weightPriceTransaction{
    align-items:baseline;
}

.priceTransaction, .priceTransaction, .boxesTransaction, .nameFruitTransaction{
    color: #9A9A9A;
}

.priceTransaction, .priceTransaction, .boxesTransaction{
    font-weight: 400;
}

.nameFruitValueTransaction{
    display: flex;
    flex-direction: column;
    align-items:end;
}

.featuredFieldValueTransaction{
    min-width: 10vw;
    max-width: 7rem;
    margin-left: 1rem;
    font-size: 1.6rem;
    font-weight: 550;
}

.nameFruitTransaction{
    margin-right: 1.5rem;
}
